/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
} 

#searchArea a{
  text-decoration: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
