/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
} 




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
